@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #242424;
    color: #fff;
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    @apply transition-colors text-indigo-200 hover:text-indigo-300;
}
